<div class="tought-form-container">
    
    <h1>Editando um Pensamento:</h1>
    <form action="/toughts/edit" method="POST">
        <input type="hidden" name="id" value="{{tought.id}}">
        <div class="form-control">
            <label for="title">Titulo</label>
            <input type="text" name="title" placeholder="Digite o seu pensamento..." value="{{tought.title}}">
        </div> 
        <div class="parte-baixa">
            <input type="submit" value="Editar Pensamento">
            <a href="/toughts/dashboard">Voltar a Dashboard</a>
        </div>
       
    </form>
</div>